/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mar-2017, 8.46.47
    Author     : Pisano Daniele
*/

/*definiamo le caratteristiche generali del body, colore sfondo, colore testo e font*/
body {
    background-color: #b9dcef;
    color: #111111;
    font: 20px/25px "PT Sans" , Calibri, sans-serif;
}

/*definiamo le caratteristiche dei titoli, colore, font e grassetto*/

h1{
    color: #003366;
    font: 35px/40px "PT Sans" , Calibri, sans-serif;
    font-weight: bold;
}

h2{
    color: #003366;
    font: 30px/25px "PT Sans" , Calibri, sans-serif;
    font-weight: bold;
}

h3{
    color: #003366;
    font: 25px/40px "PT Sans" , Calibri, sans-serif;
    font-weight: bold;
}
/*definiamo le caratteristiche dei link,prima eliminiamo il default e poi impostiamo sottolineato, grassetto e cambio colore al passaggio del mouse*/
a:link, a:visited {
    font-size: 20px; 
    text-decoration: none;
    color:#111111;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #003366;
}
/*definiamo le caratteristiche del sommario, eliminiamo il default e poi impostiamo il margine sinistro a zero*/
#sommario>ul{
    list-style-type: none;
    padding-left: 0px;
}

/*definiamo le caratteristiche degli input, all'attivazione i bordi si illuminano di azzurro*/
#inputDatiUtente input:focus, #inputUtente input:focus, #inputUtente textArea:focus, #cercaPersoneGruppi input:focus, #formNuovoPost textArea:focus, #formNuovoPost input:focus{
    outline:none;
    border-color: #0af;
    box-shadow: 0 0 10px #0af;
}
