/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mar-2017, 9.19.13
    Author     : Pisano Daniele
*/
/*definiamo le caratteristiche principali del layout */
#formNewPost{
    width: 400px;
    margin-left:auto;
    margin-right: auto;
}

#postType{
    padding-top: 10px;
    border-bottom: 2px solid #aaaaaa;
    margin-bottom: 10px;
    padding-bottom: 10px;
} 

#postType div{
    display: inline;
} 

#postContent{
    padding-top: 10px;
    border-bottom: 2px solid #aaaaaa;
    margin-bottom: 10px;
    padding-bottom: 10px;
} 

#postContent label:after{
    content: '\A';
    white-space: pre;
} 
#postContent textArea{
    height: 60px;
    width: 98.5%;
}

#postContent textArea:focus{
    outline:none;
    border-color: #22bb22;
    box-shadow: 0 0 10px #22bb22;
}

form button{
    width: 100%;;
}
#posts img{
    max-width: 400px;
    max-height: 400px;
}

.profilePic img{
    height: 150px;
    width: 150px;
} 

.post, #info, nav, .user{
    background: #ffffff; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba (0,0,0,0.2);
} 
header{
    position: fixed; 
    top: 0px;
    right:0px;
    height: 50px;
    width: 100%;
} 
nav{
    margin-top: 55px;
} 
.post{
    padding: 5px;
    margin-bottom: 5px;
} 

.user .profilePic, .user .userdata{
    float:left;
}
.user .userdata{
    padding-left: 10px;;
}
#info .profilePic{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}
#info strong{
    font-size: 20px;
}
#info strong:after{
    content:'\A\';
    white-space: pre;
}
@media only screen and (min-width: 1000px){
    #info{
    width: 170px;
    float:left;
    padding: 5px;
    font-size: 15px;
    }
    #posts{
    float:left;
    width: 410px;
    margin-left: 5px;
    }
    .user{
    margin-bottom: 5px;
    padding: 10px;
    width: 400px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    }
}  
@media only screen and (max-width: 1000px){
    #info{
    width: auto;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
    } 
    #posts{
    width: auto;
    }
    .post{
    text-align: center;
    }
    header #title {
    font-size: 22px;
    }
    nav li{
    display:block;
    border: none;    
    }
    .user{
    margin-bottom:5px;
    padding:5px;
    width:auto;
    height:160px;
    }
    #divbody{
    padding-left:0px;
    }
}











