/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mar-2017, 8.46.47
    Author     : Pisano Daniele
*/

/*definiamo le caratteristiche del layout */
body {
    background-color: white;
    font: 15px/25px "PT Sans" , Calibri, sans-serif;
}
#page{
    background-color:white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom:20px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
#header{
    background-color: #003366;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: white;
    border: 2px solid #111111;
    height: 120px;
    width: auto;
}
#linkPagine ul li a{
    color: white;
    text-decoration: none;
    font: 20px/25px "PT Sans" , Calibri, sans-serif;
 }
#linkPagine ul li a:hover{
    font-weight: bold;
}
#linkPagine ul {
    padding-left: 0px;
}
h1#titolo{
    color: white;
    font: 30px/25px "PT Sans" , Calibri, sans-serif;
    font-weight: bold;
    text-align: center;
}
h1{
    color: #003366;
    font: 25px/25px "PT Sans" , Calibri, sans-serif;
    font-weight: bold;
}
h2{
    color: #003366;
    font: 20px/25px "PT Sans" , Calibri, sans-serif;
    font-weight: bold;
}
h3{
    color: #003366;
    font: 17px/25px "PT Sans" , Calibri, sans-serif;
    font-weight: bold;
}
a:link, a:visited{
    text-decoration: underline;
    color: #003366;
}
a:hover{
    font-weight: bold;
}

/*-----------------Continuare da qui----------------------*/
#sommario{
    margin-left: 5px;
    margin-right: 5px;
}
#contenutoDescrizione{
    margin-left: 5px;
    margin-right: 5px;
}
#contenutoLogin{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 400px;
    margin-bottom: 10px;
}
#sommario li, #sidebar li, #linkPagine li {
    list-style: none;
}
#linkPagine li {
    list-style-type: none;
    display: inline-block;
    background-color: #003366;
}
nav li {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 3px solid white;
}
nav li:last-child{
    border-right: none;
}
#sommario ul, #sidebar ul{
    padding-left: 10px;
    margin-top: 0px;
    margin-left: 0px;
}
#inputDatiUtente input:focus, #inputUtente input:focus, #inputUtente textArea:focus, #sidebar input:focus, #formNewPost textArea:focus, #formNewPost input:focus{
    outline:none;
    border-color: #0af;
    box-shadow: 0 0 10px #0af;
}
#sidebar button img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#logout img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
 
/* gestione dei dispositivi */
@media only screen and (min-width: 1024px) {
   #logo{
        float:left;
        margin-left: 2px;
        width: 200px;
    }
    nav{
        float:left;
        width: 800px;
    }
    #logout{
        float:left;
        width:300px;
        height: 200px;
        margin-left: 2px;
    }
    #sidebar {
        float: left;
        width: 25%;
        padding-left: 5px;
        padding-top:10px;
    }
    #contenutoProfilo, #contenutoBacheca{
        margin-left: 25%;
        margin-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }
}