/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mar-2017, 8.46.47
    Author     : Pisano Daniele
*/

/*definiamo le caratteristiche impostazioni principali del layout */
body {
    background-color: white;
    font: 15px/25px "PT Sans" , Calibri, sans-serif;
}
#page{
    background-color:white;
}
header{
    background-color: #003366;
}

h1#titolo{
    color: white;
    font: 30px/25px "PT Sans" , Calibri, sans-serif;
    font-weight: bold;
}
h1{
    color: #003366;
    font: 25px/25px "PT Sans" , Calibri, sans-serif;
    font-weight: bold;
}
h2{
    color: #003366;
    font: 20px/25px "PT Sans" , Calibri, sans-serif;
    font-weight: bold;
}
h3{
    color: #003366;
    font: 25px/25px "PT Sans" , Calibri, sans-serif;
    font-weight: bold;
}
nav ul li {
    list-style-type: none;
    display:inline-block;
    
}
nav ul li a {
    color: white;
    text-decoration: none;
    font: 30px/25px "PT Sans" , Calibri, sans-serif;
}
div ul{
    list-style-type: none;
    padding-left: 0px;
}
div ul li{
    list-style-type: none;
    padding-left: 0px;
}
div ul li ul li{
    list-style-type: none;
    padding-left: 15px;
}

/*
ul li a{
    text-decoration: none;
    color: white;
}

#linkPagine ul li a:link{
    color: #5b86ff;
}

a:link, a:visited{
    color: #2738f7;
}
a:link:hover, a:visited:hover{
    font-weight: bold;
}


/* decorazioni degli elementi */


 
/*definiamo le caratteristiche della navabar
nav {
    background-color: white;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    float: right;
    width: 69%;
 }


nav ul {
    margin-top: 35px;
    margin-bottom: 5px;
}
nav li a{
    font: 35px/31px "PT Sans" , Calibri, sans-serif;    
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

nav img{
    width: 5%;
    padding-left: 20px;
    padding-right: 5px;
}
nav li p{
    padding-left: 20px;
    padding-right: 0px;
}
*/

/*distanzioamo i vari div dalla testata
#sommario, #formLogin, #formProfilo, #cercaPersoneGruppi{
    padding-top: 80px;
}
*/

/*definiamo le caratteristiche dei titoli, colore, font e grassetto

*/

/*definiamo le caratteristiche dei link,prima eliminiamo il default e poi impostiamo sottolineato, grassetto e cambio colore al passaggio del mouse
a:link, a:visited {
    text-decoration: none;
    color:#111111;
}

a:hover {
    font-weight: bold;
    color: #003366;
}
*/

/*Pagina Descrizione: definiamo le caratteristiche del sommario, eliminiamo il default e poi impostiamo il margine sinistro a zero
#sommario>ul{
    list-style-type: none;
    padding-left: 0px;
}
*/

/*definiamo le caratteristiche degli input, all'attivazione i bordi si illuminano di azzurro
#inputDatiUtente input:focus, #inputUtente input:focus, #inputUtente textArea:focus, #cercaPersoneGruppi input:focus, #formNuovoPost textArea:focus, #formNuovoPost input:focus{
    outline:none;
    border-color: #0af;
    box-shadow: 0 0 10px #0af;
}
*/